.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 140px;
    display: flex;
    align-items: center;
    background-color: #10BBB5;
    color: white;
    opacity: 1;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }




.tittle{
      text-align: left;
      font: normal normal bold 20px/22px Montserrat;
      letter-spacing: -0.32px;
      color: #FFFFFF;
      opacity: 1;
      top: 50px;
      width: 340px;
      height: 24px;
      margin: 0px 0px 0px 0px;
}

.subTittle{
      top: 74px;
      width: 116px;
      height: 18px;
      text-align: left;
      font: normal normal normal 14px/26px Montserrat;
      letter-spacing: -0.23px;
      color: #FFFFFF;
      opacity: 1;
      margin: 0px 0px 0px 0px;
}









